
.fx {
  display: flex;
}

.fx-gap {
  gap: 18px;
}

input,
button {
  color: #000000;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  outline: none;
}

.form_form {
    position: absolute;
    /* top: 148%; */
    /* left: 0; */
       right: 9rem;
    width: 378px;
    height: 54px;
    padding: 4px;
    margin: 0px auto 0 auto;
      background-color:#eeead4;
    border-radius: 10px;
    box-shadow: 0 4px 25px rgba(195, 209, 231, 0.25), 0 0 0 5px #eeead4;
    transform: scale(0.58);
}

input[type="text"] {
    width: 100%;
    /* height: 96px; */
    font-size: 26px;
    line-height: 1;
}

input[type="text"]::placeholder {
  color: gray;
  /* font-size: 1rem; */
  font-family: "Raleway", serif;
  text-align: center;
}

button {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

#search-icon-circle {
    position: relative;
    top: -27px;
    left: 12px;
    width: 42px;
    height: 42px;
    margin-top: 0px;
    border-width: 11px;
    border: 8px solid #6ab187;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

#search span {
    position: absolute;
    top: 58px;
    left: 67px;
    display: block;
    width: 1px;
    height: 7px;
    background-color: #6ab187;
    border-radius: 50%;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

#search span:before,
#search span:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45px;
  height: 15px;
  background-color: #6ab187;
  border-radius: 10px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#search-icon:hover #search-icon-circle {
    top: -18px;
    width: 51px;
    height: 12px;
    border-width: 0;
    background-color: #6ab187;
    border-radius: 20px;
}

#search-icon:hover span {
    top: 42%;
    left: 54px;
    width: 25px;
    margin-top: -11px;
    transform: rotateZ(0);
}

#search-icon:hover button span:before {
  bottom: 11px;
  transform: rotateZ(52deg);
}

#search-icon:hover button span:after {
  bottom: -11px;
  transform: rotateZ(-52deg);
}
#search-icon:hover button span:before,
#search-icon:hover button span:after {
  right: -6px;
  width: 40px;
  background-color: #6ab187;
}


.profile {
  display: flex;
  justify-content: center;
    align-items: center;
    padding: 0.6rem;
    width: 6.5rem;
    border-radius: 1rem;
    /* color: #fff; */
    text-align: center;
    /* background-color: #5f6fff; */
    /* background-color: #6ab187; */
  background-color: #ffffff;
    /* background-color: #FBBF24; */
  color: #1D4ED8;
  border: none;
        font-size: 1rem;
    font-weight: 600;
    margin-right: 1.2rem;
    height: 40px;
    cursor: pointer;

}
.navbar-nav{
  gap: 0.5rem;
}

.profile a {
    text-decoration: none;
    /* color: #fff; */
      color: #1D4ED8 !important;
}
.profile:hover {
    transform: scale(1.05);
}

.form_parent{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
flex-direction: row;
}
ul .nav-item{
      font-weight: 550;
}
.nav-item:hover {
    color: #F1F5F9;
}
.nav-item:hover:after {
    content: '';
    height: 3px;
    width:95%;
    background-color: #F1F5F9;
    display: block;
    transition: all 300ms linear;
    transform: scaleX(1);
    margin: -5px 0 0;
}

.nav-item::after {
    content: '';
    height: 3px;
    width: 95%;
    background-color: #F1F5F9;
    display: block;
    transition: all 300ms linear;
    transform: scaleX(0);
    margin: -5px 0 0;
}