.custom-time-picker {
  width: 100%;
  font-size: 1rem;
}

.react-time-picker__wrapper {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.time-placeholder {
  font-size: 1rem;
}

.time-picker-wrapper{
    top: 9px !important;
}
.custom-time-picker input {
  padding: 10px 12px;
  font-size: 1rem;
  height: 40px;
  width: 100%;
}